artifact
saved_models
venv
docs
flowcharts
notebooks
.git
.terraform/
.terraform.lock.hcl
rec_app.py
main.py
logs/
data/
artifact/
memory_profile.log
saved_models/
production/
artifacts/
src/model/downloaded_model/
data-v1.0/