faiss-cpu
sentence-transformers
pandas
memory-profiler
line-profiler
path
python-multipart
dill
fastparquet
from-root
pip-chill
PyYAML
passlib
pymongo
requests
pillow
dnspython
tqdm
openpyxl
boto3
streamlit
fastapi
uvicorn
itsdangerous
python-terraform
botocore-stubs
httptools
imblearn
mypy-boto3-s3
python-dotenv
types-s3transfer
watchfiles
websockets
wincertstore
neuro-mf
-e.